body {
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  background-color: #4FD7FD;
  color: #000;
  display: flex;
  align-items: center;
  left: 0;
}

h1 {
  margin: 0;
  margin-left: .3em;
  font-size: 1.5rem;
}

.header {
  justify-content: space-between;
  height: 60px;
  top: 0;
}